/* default font values */

html{
  font-size: 100%; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  color: #586069;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.6em;
}

h3{
  font-size: 1em;
}

h4{
  font-size: 0.8em;
}

h5{
  font-size: 0.5em;
}


h1, h2, h3, h4, h5{
  margin: 1em 0;
}

a{
  text-decoration: none;
  color:#000;
}

/* default font values ends here */

/* ================================ */

/* Grid starts here */

.container-fluid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
}


.container{
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
}


.col-1{
  grid-column: span 1;  
}
.col-2{
  grid-column: span 2;
 
}
.col-3{
  grid-column: span 3;
}
.col-4{
  grid-column: span 4;
}
.col-5{
  grid-column: span 5;
}
.col-6{
  grid-column: span 6;
}
.col-7{
  grid-column: span 7;
}
.col-8{
  grid-column: span 8;  
}
.col-9{
  grid-column: span 9;
}
.col-10{
  grid-column: span 10;
}
.col-11{
  grid-column: span 11;
}
.col-12{
  grid-column: span 12;
}
/* Grid ends here */



nav ul li{
  display: inline-block;
  padding-right:1em;  
}
nav ul li a{
  color: white;
}
.octicon{
  fill: white;
}
nav{
  background-color: #24292e;
  color: hsla(0,0%,100%,.7);
  padding: 1em;
  align-items: center;
}

nav input{
  line-height: 20px;
  min-height: 28px;
  background: none;
  border: 1px solid rgb(118, 118, 118);
 }
.sub-nav-links ul li{
  display: inline-block;
  padding: 0 1em;
}

.right{
  text-align: right;
}
 
.card{
  border: 1px solid #e1e4e8;
  width: 260px;
}
.card img{
  width: 100%;    
}

.card-content{
  padding: 1em;
}

.main-content{
  padding-top:2em;
  width: 90%
}

.card-repo{
  border-radius: 3px;
  border: 1px solid #d1d5da;
  padding: 0 1em;
  margin: 1.5em 0;
  max-height: 8em;
  height: 8em;
}

.card-repo h4{
  font-size: 1em;  
}
.card-repo p{
  font-size: 0.8em;
}
.card-repo a{
  color: #0366d6;
}

.text-right{
  text-align: right;
}